body
{
  text-align:center;
}

a {
  text-decoration: none;
  color:#666666;
}

a:hover {
  text-decoration: underline;
  color:#A72123;
}

#oclogo {
	position:absolute;
	right: 0;
	top: 0;
  padding-right:20px;
}

#logotitle {
  padding-left:20px;
}

#header {
	position:relative;
  text-align: left;
  width: 100%;
}

#header h1 {
	padding: 20px 0 0 140px;
	margin-bottom:20px;
  color: #F6921E !important;
  border: none !important;
  text-decoration: none !important;
}

.oc-holder {
  text-align: left; 
  border:0;
  padding:0;
  margin: 10px 20px 0;
}

.oc-search-bar-holder {
  position:relative;
}

.oc-search-bar {
  position:relative;
  top: 0;
  right: 0;
}

.oc-search-result-holder {
  position:relative;
}

.oc-search-result-header{
  position:relative;
  display: inline-block;
}

.oc-sort-controls {
  position:absolute;
  top: 0;
  right: 0;
}

.oc-search-result-items{
  position:relative;
}
.oc-search-result-item{
  position:relative;
  margin-top:2px;
  position:relative;
  padding:5px 0px;
  background-color: #EFF7F9;
}

div.table-row {
  padding:0px;
  width:100%;
  height:140px;
}

div.left-container13 {
  text-align:center;
  float:left;
  border:0px;
  margin:0px;
  width:180px;
}

div.left-container23 {
  float:left;
  border:0px;
  margin:0px;
  padding:5px 0 0 10px;
  width:auto;
}

div.right-container13 {
  
  float:right;
  text-align: right;
  border:0px;
  margin:0px;
  padding:5px;
  width:170px;
}

.oc-pager {
  text-align:center;
  margin-top:2px;
  margin-bottom:20px;
  width:100%;
  position:relative;
  background-color: #DDDDDD;
}

img.thumb {
  width: 160px;
  padding: 10px;
}

a.itemtitle {
  color: #174B49;
  font-size:16px;
  font-weight: bold;
  font-family: arial,helvetica,clean,sans-serif;
  text-decoration: none;
}

a.itemtitle:hover {
  color:          #A72123;
  text-decoration:underline;
}


span.itemdesc {
  color: #2D8F8B;
  font-size:14px;
  font-weight: bold;
  font-style: italic;
  font-family: arial,helvetica,clean,sans-serif;
}

.timedate {
  font-size: 12px;
}

#searchSubmit {
  background-color: #2D8F8B;
  color: #FFFFFF;
}

span.title {
  color: #2D8F8B;
  font-size: 14px;
  font-weight: bold;
}

#searchField {
  width: 200px;
  background-color: #E3E3D7;
  background-image: url('/engage/ui/img/icons/magnifier.png');
  background-repeat: no-repeat;
  border: 1px solid #000000;
  padding-left: 20px;
  
}

#searchField.default { color: #aaa; }

h2{
  font-size: 20px;
  color: #666666;
}

#atomLink {
  color: #666666;
}

#rsslink {
  color: #666666;
}

.subscriptions {
 float:right;
}
